body {
    display: grid;
    width: 500px;
    height: 500px;

    grid-template-columns: 1fr;
    grid-template-rows: 30px 470px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "nav"
        "page";
}

.currPage {
    grid-area: page;
    margin: 15px;
}

.hidden {
    display: none;
}

nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "homeBtn listBtn settingsBtn";
}

#settingsBtn {
    grid-area: settingsBtn
}

#listBtn {
    grid-area: listBtn
}

#homeBtn {
    grid-area: homeBtn
}

.TEMPCLASSNAMEIMPROVELATER {
    display: grid;
    grid-gap: 5px;

    grid-template-columns: 9fr 1fr;
    grid-template-areas: "left right";
}

.TEMPCLASSNAMEIMPROVELATER > *:first-child {
    margin: none;
    grid-area: left;
}

.TEMPCLASSNAMEIMPROVELATER > *:last-child {
    margin-top: 0px;
    grid-area: right;
}