body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    min-width: 250px;
    grid-template-areas:
        "nav"
        "page";
}

nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "homeBtn listBtn settingsBtn";
}

#settingsBtn {
    grid-area: settingsBtn
}

#listBtn {
    grid-area: listBtn
}

#homeBtn {
    grid-area: homeBtn
}

.currPage {
    grid-area: page
}

.hidden {
    display: none;
}